.cards{
    max-width: 450px;
    margin: 10px;
    min-width: 450px;
    
  }
  
  .cardsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  
  .popup{
    background-color: #cedfff;
    padding: 10px;

  }