 
  .QuoteEditor {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 18px;
  }
  
  .QuoteForm {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    min-width: 40vw;
  }
    
  .submitButton {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  .Buttons {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .groupField {
    width: 100%;
    align-self: center;
  }
  
  .groupInput {
    display: flex;
    justify-content: space-between;
    margin: 15px;
  }

  .submitButton:active {
    position:relative;
    top:1px;
  }
  .cancelButton:active {
    position:relative;
    top:1px;
  }