
.cards{
  max-width: 450px;
  margin: 10px;
  min-width: 450px;
  
}

.media src {
  width: 50%;
  height: 50%;
}

/* .image{
  max-height: 300px;
} */

.cardsContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.popup{
  background-color: rgb(255, 117, 221);
  padding: 10px;
}